
/*


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
}


h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

h3 {
    text-align: center;
    margin-top: 20px;
}



.figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
*/


.form {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0px solid black;
}

.button {
    margin-bottom: 20px;
}

.links {
    text-align: center;
    margin-bottom: 30px;
}

.links h3 {
    margin-bottom: 10px;
}

.picture {
    width: 300px;
    height: 240px;
    object-fit: cover;
    border: 2px solid black;
}

.sport {
    text-align: center;
}

.download.download {
    color: #0000EE;
}

@media screen and (min-width: 600px){
    h1{
        font-size: 40px;
    }
}

@media screen and (min-width: 992px){
    .activities{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-left: 70px;
        margin-right: 70px;
    }
    h1{
        font-size: 40px;
    }
    h3{
        margin-top: 50px;
    }
    .motion .picture{
        width: 640px;
        height: 480px;
    }
    .motion p{
        width: 640px;
    }
    .sport .picture{
        width: 640px;
        height: 480px;
    }
    .button{
        margin-bottom: 50px;
        padding: 1%;
    }
}
