:root{
    --light-green: #A7D397;
    --dark-green: #555843;
    --beige: #F5EEC8;
    --off-white: #D0D4CA;
    --mild-gray: #E8E9E8;
}

*{
    background-color: #ffffff;
    font-family: 'Caveat', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    
}

main{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 100%;
    width: 350px;
    background-color: var(--mild-gray);
    border-radius: 30px;
    display: flex;
    align-items: baseline;
    
}

#main-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    row-gap: 50px;
    background-color: var(--mild-gray);
    width: 100%;
    
    & a{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        
        & p, h3{
            padding: 15px;
            background-color: var(--off-white);
            color: var(--dark-green);
        }

        & h3{
            padding-bottom: 0;
        }
    }

    & article{
        width: 300px;
        border: none;
        
        & img{
            width: 100%;
            height: 150px;
            object-fit: cover;
        } 
    }
}

#news-feed{
    height: 200px;
    width: 85%;
    background-color: var(--mild-gray);
    margin: auto;
    margin-bottom: 30px;
    overflow-x: hidden;
    border: 10px solid var(--mild-gray);

    & #news-feed-buttons{
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: auto;
        

        & .news-button{
            height: 50px;
            border: 0.5px solid var(--off-white);
            color: var(--dark-green);
            display: flex;
            align-items: center;
            padding-left: 5px;
        }
    }

}


@media screen and (min-width: 600px){
    main{
        width: 90%;
   }

    #main-btns{  
        flex-direction: row;
        margin-left: 15px;
        margin-right: 15px;
        justify-content: space-between;
        row-gap: 30px;
        
        .btn-layout{
            width: 50%;
            background-color: var(--mild-gray);
            display: flex;
            justify-content: center;
  
            & a {
            width: 90%;
            display: flex;
            
                & article{
                width: 100%;
             }
        }
    }
}

#news-feed {
    overflow-x: scroll;
    width: 70%;

    & #news-feed-buttons{
    display: flex;
    flex-direction: row;
    background-color: var(--mild-gray);
    gap: 5px;
    
    

        & .news-button{
        height: 180px;
        padding: 0;
        
        

        & h3{
            padding-left: 50px;
            padding-right: 50px;
        }
        }
    

}
}
}


@media screen and (min-width: 992px){
    main{
        width: 90%;
        max-width: 1500px;
 }

    #main-btns .btn-layout{ 
        width: 33%;        
}

#news-feed{
    max-width: 700px;
}
}